* {
    box-sizing: border-box;
}

.header__heading {
    color: olive;
    font-family: 'dancing script';
    font-style: inherit;
    font-weight: bolder;
    padding-bottom: 20px;
      
  }

  .header {
    background: #140523;
    color: #ffffff;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    padding: 10px;
  }